@page "/editor"
@rendermode InteractiveServer

@inject AppState State;
@inject LinuxDirectoryPicker Picker;
@implements IDisposable

@using QD_Knowledge_Manager.Components.Components;

<PageTitle>Editor - QD Knowlage Manager</PageTitle>

<div class="grow flex flex-row overflow-auto">
  @if (hasChangeVolume) {
    <div class="bg-black text-white w-96 max-h-[100vh - 58px] overflow-hidden border-r border-r-gray-700 py-2">

      <div class="px-4">
        <button
          class="w-full px-4 py-2 bg-white text-black hover:bg-gray-400 hover:text-white rounded-md transition-all duration-200"
          @onclick="Pick">
          Change Volume
        </button>
      </div>
      <div class="bg-black text-white">
        <FileExploror WhenItemClicked="getFile" />
      </div>
    </div>
  }

  <div
    class="py-4 h-[100vh - 130px] w-full relative after:content-[''] after:top-0 after:left-0 after:absolute after:h-full after:-z-10 after:w-full after:bg-black">

    @if (isFileOpened)
    {
      <Editor CurrentFile="OpenedFile" />
    }
    else
    {
      <div class="text-white flex flex-col h-full justify-center items-center">
        <div class="text-9xl"></div>
        <p>Try to Open a File..</p>
      </div>
    }
  </div>
</div>

@code {
  static FileSystem? OpenedFile;
  static bool isFileOpened = false;
  private bool hasChangeVolume = true;

  private async Task getFile(FileSystem theFile)
  {
    OpenedFile = theFile;

    isFileOpened = false;
    await Task.Yield();
    isFileOpened = true;
  }

  async Task Pick()
  {
    hasChangeVolume = false;

    State.OnChange -= StateHasChanged;
    State.SetDirectory(await Picker.PickAsync(State.CurrentDirectory));
    State.OnChange += StateHasChanged;

    await Task.Yield();
    hasChangeVolume = true;
  }

  protected override void OnInitialized() 
  {
    State.OnChange += StateHasChanged;
  }

  public void Dispose()
  {
    State.OnChange -= StateHasChanged;
  }
}
